.PersonalPageHero {
    display: flex;
    flex-flow: column;
    color: white;
    text-align: center;
    background:  linear-gradient(90deg, #242222 0%, #636363 100% );
}


.PersonalPageHero .imgHero {
    max-width: 50vh;
    border-radius: 15px;
    margin: 30px;
}

.containerComics {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
}
.left{
    justify-content: flex-start;
}

.center{
    justify-content: center;
}

.comicsNotFound {
    font-size: max(2.8vw, 18px);
    margin-top: 20vh;
}

.hero h1{
    font-size: max(3.1vw, 24px);
    padding-top: 20px;
    font-weight: bold;
}

.hero p {
    font-size: max(1.5vw, 18px);
    margin-left: 30px;
    margin-right: 30px;
}

.titleListComics {
    font-size: max(2.6vw, 20px);
    color: #fa9999;
}

.hero a{
    text-decoration: none;
    font-size: max(1.3vw, 12px);
    margin: 20px;
    text-transform: uppercase;
}
