.NavBar {
    display: flex;
    flex-flow: row wrap;
    margin-left: 15px;
}

.link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: max(1.1vw, 12px);
    transition: color .22s;
}

.link:hover {
    color: grey;
}

.linkContent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.active {
    color: grey;
}
