.Layout {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background:  linear-gradient(90deg, #242222 0%, #636363 100% );
}

main {
    font-size: max(4vw, 24px);
    color: #fc4343;

}