.ContentMarvelLink {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.imgLink {
    flex: 1 1;
    text-align: center;
    padding-bottom: 30px;
}

.ContentMarvelLink img {
    max-width: 100%;
    width: 70%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 7px 11px 0 rgba(0, 0, 0, .65);
    transition: all .3s ease-in-out;
}

.ContentMarvelLink img:hover {
    opacity: 0.8;
    box-shadow: 0px 20px 28px 0 rgba(0, 0, 0, .85);
    transform: scale(1.02);
}


.ContentMarvelLink p {
    font-size: max(2vw, 18px);
}