@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

html, body, #root{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

main {
    text-align: center;
}